<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="LoginCmsSoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="LoginCmsSoapBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://wsaahomo.afip.gov.ar/ws/services/LoginCms"
                binding="basicHttpBinding" bindingConfiguration="LoginCmsSoapBinding"
                contract="WSAA.LoginCMS" name="LoginCms" />
        </client>
    </system.serviceModel>
</configuration>


