
@{
    ViewBag.Title = "Acceso denegado";
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            @ViewBag.Message
        </h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i> Inicio</a></li>
            <li class="active">@ViewBag.Message</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <hr />
        <div class="alert alert-danger alert-dismissible">
           
            <h4><i class="icon fa fa-ban"></i> Acceso Denegado!</h4>
            Usted no tiene los privilegios necesarios para acceder a esta sección. Ante cualquier duda comuniquese con el administrador del sistema.
        </div>
       

    </section>
</div><!-- /.content-wrapper -->