.vs/*
Blibox/bin/*
Blibox/obj/*
Blibox.Logica/obj/*
TestAutenticacion/bin/*
TestAutenticacion/obj/*


/Blibox.Logica/obj/Debug/*
/Blibox.Logica/bin/Debug/*
/Blibox.Logica/bin/Release

/packages

/TestAutenticacion/obj/Debug
/TestAutenticacion/bin/Debug
/Diagrama clases.png
/Diagrama ER.png
/Blibox Fox
/MigracionDB/bin/Debug
/MigracionDB/obj/Debug
/Migracion/obj/Debug
/Migracion/bin/Debug
