<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 2.3.0
    </div>
    <strong>Copyright &copy; @DateTime.Now.Year.ToString() Blibox SA.</strong> Todos los derechos reservados.
</footer>